---

---

<nav>
  <a href="/">ホーム</a>
  <a href="/allcards/1">名刺一覧</a>
  <a href="/search">検索</a>
</nav>

<style lang="scss">
  nav {
    display: flex;
    align-items: center;
    gap: 0 1.5em;
  }
</style>